@import "general";
/*----------------------CONTENIDO PARA TODAS LAS PAGINAS-----------------*/
/*--------- VARIABLEE GLOBALES ---------*/
$flexin: flex;
/*
/**~~~~~~~~~~~~~~~~~~~~~~~~~ SASS - INICIO.HTML~~~~~~~~~~~~~~~~~~~~~~**/
.flex--padre{
    display: $flexin;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 100%;
    margin: 1em 0em;
    &__p{
        padding: 1em 1em;
        font-size: 2rem;
        font-family: "Noto Sans Mono", monospace;
        color: cyan;
    }
    &--img{
        height: 300px;
        width: 300px;
        margin-top: 2em;
        margin-right: 1em;
        border-radius: 10px;
        border:white solid 2px;
    }
}

/**~~~~~~~~~~~~~~~~~~~~~~~~~ SASS - SOBRE MI ~~~~~~~~~~~~~~~~~~~~~~**/
.container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    div p{
        color: cyan;
        font-size: calc(1em + 0.5vw);
        max-width: 300px;
        margin-bottom: 1em;
    }
    div img{
        align-self:auto;
        border-radius: 10px;
        border:2px solid white;
        margin: 1em 0;
    }
    div ul li{
        color: cyan;
        list-style: none;
        font-size: 1.6em;
    }
}
.caja{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 2em;
}
.icon-img{
    height: 35px;
    width: 35px;
    border: transparent !important;
}

@media (max-width: 768px){
    .icon-img{
        height: 25px;
        width: 25px;
    }
    div ul li{
        font-size: 0.8em;
    }
    div p{
        font-size: calc(1em + 1vw);
    }
}

/*~~~~~~~~~~~~~~~~~~~~~ SASS - PORTAFOLIO ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import"../scss/imports/card";
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SASS - CONTACTO ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.form{
    background-color:#8f7777;
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    margin: auto;
    &__input{
        font-family: "Noto Sans Mono", monospace;
        font-size:1rem;
        padding: .8em 1em;
        outline: none;
        border: 1px solid white;
        border-radius: 0.2em;
        &--message{
            resize: none;
            padding: 1.8em 1em;
            margin-bottom: 1.5em;
        }
    }
    &__cta{
        font-family: "Noto Sans Mono",monospace;
        background-color: #089fe0;
        color: #f3f3f3;
        border:none;
        font-weight: 300;
        font-size: 1rem;
        padding: 0.7em 0;
        border-radius: 0.2em;
        cursor: pointer;
    }
    &__container{
        width: 100%;
        display: grid;
        gap: 1em;
        grid-auto-columns: 100%;
    }
    &__title{
        text-align: center;
        font-size: 1.9rem;
        margin-bottom: .4em;
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SASS - COMUNIDAD  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.p--estilo{
    font-family: 'Noto Sans Mono';
    max-width: 500px;
    font-size: 1.5vw;
}
.cont--estilo{
    margin: auto;
    background-color: #089fe0;
    border-radius: 1.5em;
    padding: 1em 1em;
    height: 80%;
    width: 80%;
}

